<a href="https://colab.research.google.com/github/Mariana-Arantes/data_science/blob/main/Bike_Compartilhadas_DF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
#importar o datase
df=pd.read_csv("https://raw.githubusercontent.com/Mariana-Arantes/data_science/main/df_rides.csv")

In [7]:
#ver as 5 primeiras linhas
df.head()

  user_gender user_birthdate  ... ride_duration ride_late;;;;
0           M     1971-06-08  ...     16.250000         0;;;;
1           M     1989-02-11  ...      5.266667         0;;;;
2           M     1968-07-19  ...     15.400000         0;;;;
3           M     1991-12-19  ...      5.866667         0;;;;
4           M     1969-03-03  ...    641.133333         1;;;;

[5 rows x 10 columns]

## Resumo das informações estatísticas

Uma das maneiras mais simples de se iniciar uma análise exploratória das variáveis numéricas é utilizando o método `describe()`.

Imediatamente você obtém um resumo contendo algumas das principais informações estatísticas relevantes:

* **count** - quantidade de entradas válidas
* **mean** - média dos valores
* **std** - desvio padrão
* **min** - menor valor da coluna
* **25%** - percentil 25
* **50%** - percentil 50 (e mediana)
* **75%** - percentil 75
* **max** - maior valor da coluna

É possível identificar de cara colunas com valores ausentes e possíveis *outliers* (por exemplo, olhando o valor da mediana e comparando com valores máximos e mínimos)

In [9]:
df.describe()

       ride_duration
count  186868.000000
mean       30.023773
std        58.588264
min         3.000000
25%         8.066667
50%        14.266667
75%        34.433333
max       999.600000